<ion-view view-title="Start">
  <ion-content>
    <div class="row">
      <div class="col col-10"></div>
      <div class="col col-90">
        <div class="list list-inset">
        <div style="position: relative;" class="searchWrapper">

          <label class="item item-input">
            <input type="text" placeholder="Search">
          </label>
          <a style="position: absolute; right: 0; top: 0; z-index: 10;" class="button" href="#/app/searchresult">&nbsp;&nbsp;&nbsp;<i class="icon ion-search">
            &nbsp;&nbsp;&nbsp;</i></a>


        </div>
        </div>
      </div>
    </div>
    <!-- Make a row with scanner and numpad -->
    <div class="row responsive-sm">
      <div class="col col-offset-10" ng-include src="'templates/scanner.html'"></div>
      <div class="col" ng-include src="'templates/numPad.html'"></div>
    </div>
  </ion-content>
</ion-view>
