<ion-view view-title="Start">
    <ion-content>
        <div class="row responsive-sm">
            <div class="col col-10"></div>
            <div class="col col-90">
                    <div class="list list-inset">
                        <label class="item item-input">
                            <input type="text" placeholder="Search">
                            <a class="button icon ion-search" href="#/app/searchresult"></a>
                        </label>
                    </div>
            </div>
        </div>
        <!-- Make a row with scanner and numpad -->
        <div class="row responsive-sm">
            <div class="col col-offset-10" ng-include src="'templates/scanner.html'"></div>
            <div class="col" ng-include src="'templates/numpad.html'"></div>
        </div>
    </ion-content>
</ion-view>
