table {
    border-collapse: separate;
    border-spacing: 4px;
    table-layout: fixed;
}

td {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    vertical-align: middle;
    width: 33%;
}

.table-striped {
  border-collapse: collapse;
  border-spacing: 0;
}
.table-striped td, .table-striped th {
  background-color: inherit;
  color: #000;
  height: 40px;
  line-height: 40px;
  text-align: left;
  padding: 0 20px;
}
.table-striped tr {
  
}

.brandRed {
    color: whitesmoke;
    background-color: #db0000;
}

.centerImg {
  margin: 0;
  position: absolute;
  top: 10%;
  left: 0%;
}
