table {
    border-collapse: separate;
    border-spacing: 4px;
    table-layout: fixed;
}

td {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    vertical-align: middle;
    width: 33%;
}

.brandRed {
    color: whitesmoke;
    background-color: #db0000;
}

.centerImg {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
}